

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 80px;
  color: blue;
}

.body {
  font-family: 'Lato', sans-serif;
}

.text-light {
  color: #7D97AD;
  font-family: 'Lato', sans-serif;
}

.text-dark {
  color: #2d3c49;
  font-family: 'Lato', sans-serif;
}

a {
  color: #2d3c49;
  font-family: 'Lato', sans-serif;
}

.text-thin {
  font-weight: 100;
}

hr {
	color: #2d3c49;
}

.lightgraylink {
	color:#2d3c49;
	text-align:center;
	font-family: 'Lato', sans-serif;	
}

.bluetone {
	color:#02b3e4;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
	padding-right: 10px;
}

.alignleft {
	text-align: left;
	padding-left: 10px;
}

h3 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:#2d3c49;	
}

photo {
	display: block;
    margin: 0 auto;
}

.aligndown {
	padding-top: 20px;
}